<h1> Welcome, <%= "#{Helpers.current_user(session).name}" %> </h1>
<h2> Your Recipes: </h2>
<br>
<% @recipes.each do |recipe| %>
<li><a class="button" href="/recipes/<%=recipe.id%>"><%= recipe.name%></a></li>
<% end %>
<h2> <a class="button" href="/recipes/new">Create a New Recipe! </a> </h2>
<br>
<a class="button" href="/logout">Logout</a>
